
*{box-sizing: border-box;

}


body {
    background-color: rgb(150, 230, 226);
    color:white;
    margin: auto;
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/033/752/895/large/sibylle-hell-litegames-minesweeperworld-defaultbg.jpg?1610477693);
  
  }
  h1,h2{
    padding-top: 40px;
    margin: auto;
    text-align: center;
    color:rgb(0, 132, 255);
    text-shadow: 0 0 5px rgb(14, 225, 225), 0 0 10px rgb(0, 179, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px #49ff18, 0 0 35px #49ff18, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
    font-style: 'Montserrat', sans-serif;

  }

  button{
    margin: 5px 5px;
    text-align: center;
    display:inline-block;
    cursor: pointer;
    text-shadow: 0 0 5px rgb(14, 225, 225), 0 0 10px rgb(0, 179, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px #49ff18, 0 0 35px #49ff18, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
    transition: 0.5s
  }
 

  .leftflegs{
    margin: 5px 5px;
    /* text-align: center; */
    display:inline-block;
 
  }


  .btnrestart .timer{
    margin: auto;
    text-align: center;
    display: block;
    cursor: pointer;
  

  }

  .timer ,.leftflegs{
    text-align: center;
    display: block;
    color: rgb(1, 102, 244);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 35px #1833ff, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
    transition: 0.5s;
    font-size:  25;
    font-style: 'Montserrat', sans-serif;


  }

  table {
    text-align: center;
    margin: auto;
    margin-top: 50;
    border: 50px;

}
.cell  {
    background-color: rgb(5, 254, 246);
    width: 45;
    height: 45;
    border-radius: 7px;
    font-size:  25;
    color: rgb(0, 68, 255);
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 35px #1833ff, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
    transition: 0.5s;
    font-style: 'Montserrat', sans-serif;
}
.cell:hover {

    background-color: #96e6df;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18, 0 0 35px #49ff18, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;
    transition: 0.5s;
}

 .leftflegs{
    margin: auto;
    text-align: center;
    display:block;
  
  }

  footer{
    margin: auto;
    text-align: center;
    color:rgb(243, 18, 70);
    text-shadow: 0 0 5px rgb(14, 225, 225), 0 0 10px rgb(0, 179, 255), 0 0 15px rgb(255, 255, 255), 0 0 20px #49ff18, 0 0 35px #49ff18, 0 0 40px #49ff18, 0 0 50px #49ff18, 0 0 75px #49ff18;


  }

  


  